**/pull_request_template.md
**/issue_template.md
**/target/
**/bin/
**/META-INF/**

#Eclipse
**/.metadata
**/.project
**/.settings/
**/.classpath
**/.recommenders/**
**/Servers
**/.springBeans

#IDEA
**/.idea/
**/*.iml

#AngularJS
**/.tern-project
