<div class="alert alert-danger" ng-show="loginCtrl.error">
    There was a problem logging in. Please try again.
</div>
<div>
	<p>Enter username and password below<p>
	<form role="form" ng-submit="loginUser()">
		<div class="form-group">
			Username: <input type="text" name="username" ng-model="user.userName" /><br />
		</div>
		<div class="form-group">
			Password: <input type="password" name="password" ng-model="user.password" /><br />
		</div>
		<input class="btn btn-primary" type="submit" value="Login" /><br />
	</form>
</div>