<div class="alert alert-danger" ng-show="loginCtrl.error">
    There was a problem logging in. Please try again.
</div>
<div>
	<p>Enter username and password below<p>
	<form role="form" ng-submit="loginUser()">
		<div class="form-group">
			Username: <input type="text" name="username" ng-model="user.userName" required 
				pattern="[a-zA-Z0-9_.]{4,20}"/><br />
		</div>
		<div class="form-group">
			Password: <input type="password" name="password" ng-model="user.password" required 
				pattern="[a-zA-Z0-9_.]{4,20}"/><br />
		<input class="btn btn-primary" type="submit" value="Login" /><br />
	</form>
</div>

<!-- https://jsoup.org/cookbook/cleaning-html/whitelist-sanitizer
https://www.owasp.org/index.php/Input_Validation_Cheat_Sheet -->