<div style="max-height: 400px;">
	<h1>Users Pages</h1>
	Search: <input type="text" ng-model="in"/>
	<table class="table table-bordered" style="padding-top:10px;" >
		<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Registered Events</th>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter:in">
				<td>{{user.firstName}} {{user.lastName}}</td>
				<td>{{user.email}}</td>
				<td>
				<button type="button" class="btn btn-info btn-lg" ng-click="openModal(user)" data-toggle="modal" data-target="#{{$index}}">View</button>
					<!-- Modal -->
					<div class="modal fade" id="{{$index}}" role="dialog">
					<div class="modal-dialog">
						<!-- Model Content -->
						<div class="modal-content">
							<div class="modal-header">
							<button type="button" class="glyphicon glyphicon-remove-circle" id="btnclose" data-dismiss="modal"
									style="float: right; position: relative; top: 0; right: 0; font-size: 1.7em; 
									appearance: none; -webkit-appearance: none; -moz-appearance: none; outline: none;
    								border: 0; background: transparent;"></button>
								<h2>Events Info</h2>
							</div>
							<div class="modal-body">
								<table class="table table-bordered">
								<thead>
									<th>Event Title</th>
									<th>Start Time</th>
									<th>End Time</th>
									<th>Event Status</th>
								</thead>
									<tr ng-repeat="events in user.events">
										<td>{{events.eventTitle}}</td>
										<td>{{events.startTime | date: "short"}}</td>
										<td>{{events.endTime | date: "short"}}</td>
										<td>{{events.eventStatus.eventStatusDescription}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>	
					</div></td>
			</tr>
		</tbody>
	</table>

</div>